<div class="modal fade show" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="h6 modal-title">Job interview request</h6>
        <button (click)="handleCloseJobInterview()" type="button" class="btn-close"></button>
      </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Message</label>
            <textarea class="form-control" rows="4" [value]="jobInterview.message" readonly></textarea>
          </div>
          <div>
            <label class="form-label">Dates</label>
            <div *ngIf="jobInterview.firstDate" class="mb-3 d-flex justify-content-between">
              <div class="col-9">
                <input type="datetime-local" class="form-control col-8" [value]="jobInterview.firstDate" readonly>
              </div>
              <div>
                <button class="btn btn-primary btn-sm">Create meet</button>
              </div>
            </div>
            <div *ngIf="jobInterview.secondDate" class="mb-3 d-flex justify-content-between">
              <div class="col-9">
                <input type="datetime-local" class="form-control col-8" [value]="jobInterview.secondDate" readonly>
              </div>
              <div>
                <button class="btn btn-primary btn-sm">Create meet</button>
              </div>
            </div>
            <div *ngIf="jobInterview.thirdDate" class="mb-3 d-flex justify-content-between">
              <div class="col-9">
                <input type="datetime-local" class="form-control col-8" [value]="jobInterview.secondDate" readonly>
              </div>
              <div>
                <button class="btn btn-primary btn-sm">Create meet</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

