<div class="d-flex justify-content-end">
  <div class="col-4">
    <form [formGroup]="filterForm">
      <select formControlName="status" (change)="handleChangeStatus()" class="form-select form-select-sm mb-3">
        <option value="all">ALL</option>
        <option value="VERIFIED">VERIFIED</option>
        <option value="WAITING">WAITING</option>
        <option value="NOT_VERIFIED">NOT_VERIFIED</option>
        <option value="BANNED">BANNED</option>
      </select>
    </form>
  </div>
</div>
<div *ngIf="clientsPage" class="card border-0 shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-centered table-nowrap mb-0 rounded">
        <thead class="thead-light">
        <tr>
          <th class="border-0 rounded-start">#</th>
          <th class="border-0">Email</th>
          <th class="border-0">First name</th>
          <th class="border-0">Last name</th>
          <th class="border-0">Type</th>
          <th class="border-0">Sector</th>
          <th class="border-0">Verification</th>
          <th class="border-0"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of clientsPage.content">
          <td class="text-primary fw-bold">{{client.id}}</td>
          <td class="fw-bold">{{client.email}}</td>
          <td>{{client.firstName}}</td>
          <td>{{client.lastName}}</td>
          <td>{{client.type}}</td>
          <td>{{client.sector}}</td>
          <td>
            <span class="fw-normal"
                  [ngClass]="{
                  'text-success' : client.status == 'VERIFIED',
                  'text-warning' : client.status == 'WAITING',
                  'text-tertiary' : client.status == 'NOT_VERIFIED',
                  'text-danger' : client.status == 'BANNED'
                  }">
              {{client.status}}
            </span>
          </td>
          <td>
            <div class="btn-group">
              <button
                class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <svg class="icon icon-xs" fill="currentColor"
                     viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
                  </path>
                </svg>
                <span class="visually-hidden">Toggle Dropdown</span></button>
              <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
                <a [routerLink]="'/client/' + client.id" class="dropdown-item d-flex align-items-center"
                >
                  <i class="bi bi-eye-fill text-primary me-2 custom-icon-sm"></i>
                  Show </a
                >
                <a *ngIf="client.status == 'WAITING'" class="dropdown-item d-flex align-items-center"
                   (click)="handleVerifyUser(client)"
                >
                  <i class="bi bi-check-square-fill text-success me-1 custom-icon-sm"></i>
                  Verify </a
                >
                <a *ngIf="client.status == 'WAITING'" class="dropdown-item d-flex align-items-center"
                   (click)="handleOpenProgramMeet(client)"
                >
                  <i class="bi bi-calendar-minus-fill text-warning me-1 custom-icon-sm"></i>
                  Program meet </a
                >
                <a *ngIf="client.status != 'BANNED'" class="dropdown-item d-flex align-items-center"
                   (click)="handleBanUser(client)"
                >
                  <i class="bi bi-person-fill-dash text-danger me-1 custom-icon-sm"></i>
                  Ban </a
                >
                <a *ngIf="client.status == 'BANNED'" class="dropdown-item d-flex align-items-center"
                   (click)="handlePermitUser(client)"
                >
                  <i class="bi bi-arrow-repeat me-1 custom-icon-sm"></i>
                  Permit </a
                >
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <div class="fw-normal small mt-4 mt-lg-0">Showing <b>{{clientsPage.size}}</b> out of
          <b>{{clientsPage.totalElements}}</b> entries
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-sm mb-0">
            <li class="page-item" [ngClass]="{'disabled' : clientsPage.page == 0}"><a (click)="handlePreviousPage()"
                                                                                      class="page-link">Previous</a>
            </li>
            <li class="page-item" *ngFor="let item of [].constructor(clientsPage.totalPages);let i = index"
                [ngClass]="{'active' : clientsPage.page == i}">
              <a (click)="handleChangePage(i)" class="page-link">{{i + 1}}</a>
            </li>
            <li class="page-item"><a class="page-link" (click)="handleNextPage()">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<app-add-meet *ngIf="openProgramMeet" [user]="selectedUser" [type]="'VERIFICATION'"></app-add-meet>
