<div *ngIf="job">
  <div>
    <div class="card card-body border-0 shadow mt-3">
      <div class="d-flex justify-content-between">
        <a [routerLink]="'/job/' + job.id">
          <h2 class="fs-5 fw-bold mb-0 custom-link">{{job.title}},

            <span class="fw-normal small" style="font-size: 13px;"
                  [ngClass]="{
                          'text-success' : job.status == 'OPEN',
                          'text-warning' : job.status == 'WAITING',
                          'text-info' : job.status == 'IN_PROCESS',
                          }">
                      {{job.status}}
                    </span>
          </h2>
        </a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
          <div class="col-12">
            <div class="d-flex justify-content-between">
              <div>
                <p class="pe-4 custom-p">{{job.sector}}</p>
                <p class="pe-4 custom-p">{{job.type == 'FULL_TIME' ? 'Full Time' : 'Part Time'}}</p>
                <p class="pe-4 custom-p">Years of experiences : {{job.yearsOfExperiences}}</p>
                <p class="pe-4 custom-p">Applications number : {{job.applicationsNumber}}</p>
              </div>
              <div>
                <p class="pe-4 custom-p">Number of talents : {{job.numberOfTalents}}</p>
                <p class="pe-4 custom-p">Salary : {{job.minSalary}} - {{job.maxSalary}}</p>
                <p class="pe-4 custom-p">Client : <a [routerLink]="'/client/' + job.client.id"
                                                     class="text-info"><u>{{job.client.firstName + ' ' + job.client.lastName}}</u></a>
                </p>
              </div>
            </div>
            <p class="pe-4 custom-p mt-2">{{job.description}}</p>
            <p class="pe-4 custom-p text-end">{{job.createdAt | date : 'short'}}</p>
            <div *ngIf="authStateService.hasAuthority('ADMIN') || authStateService.authState.id == job.client.id">
              <div class="d-flex justify-content-end pe-4">
                <button *ngIf="job.status == 'OPEN' && authStateService.authState.id == job.client.id"
                        class="btn btn-primary btn-sm" (click)="handleAskStartProcess(job)">Ask to start process
                </button>
                <button *ngIf="job.status == 'WAITING' && authStateService.hasAuthority('ADMIN')"
                        class="btn btn-primary btn-sm" (click)="handleStartProcess(job)">Start process
                </button>
                <button *ngIf="job.status == 'IN_PROCESS' && authStateService.hasAuthority('ADMIN')"
                        class="btn btn-primary btn-sm" (click)="handleStartSelection(job)">Start selection
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="applicationsPage" class="mb-4 mt-3">
    <div class="card border-0 shadow">
      <div class="card-header border-bottom">
        <h2 class="fs-5 fw-bold mb-0">Job applications</h2>
      </div>
      <div class="card-body py-0">
        <ul *ngIf="applicationsPage" class="list-group list-group-flush">
          <li *ngFor="let application of applicationsPage.content"
              class="list-group-item bg-transparent border-bottom py-3 px-0">
            <div class="d-flex justify-content-around">
              <div class="row align-items-center" style="width: 95%">
                <div class="col-auto"><a [routerLink]="'/talent/' + application.talent.id" class="avatar-md">
                  <img [src]="application.talent.image ? application.talent.image : 'assets/img/no-image.jpg'"
                       class="rounded" alt="Image placeholder"></a></div>
                <div class="col-auto px-0">
                  <h4 class="fs-6 text-dark mb-0"><a
                    [routerLink]="'/talent/' + application.talent.id">{{application.talent.firstName + ' ' + application.talent.lastName}}</a>
                  </h4><span class="small">
              {{application.talent.title}}
            </span>
                </div>
              </div>
              <div class="">
                <!--                <div *ngIf="job.status == 'IN_PROCESS'" class="col"><span class="fs-6 fw-bolder text-dark"><div
                                  class="form-check form-switch"><input
                                  class="form-check-input" type="checkbox" [checked]="application.selected"
                                  (change)="handleOnChangeSelection(application)"
                                ></div></span></div>-->
                <div (click)="handleOnChangeSelection(application)" *ngIf="job.status == 'IN_PROCESS'">
                  <a *ngIf="!application.selected"><i class="bi bi-check-circle text-success me-2 custom-icon"></i></a>
                  <a *ngIf="application.selected"><i class="bi bi-x-circle text-danger me-2 custom-icon"></i></a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-end">
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm mb-0">
          <li class="page-item" [ngClass]="{'disabled' : applicationsPage.page == 0}"><a (click)="handlePreviousPage()"
                                                                                         class="page-link">Previous</a>
          </li>
          <li class="page-item" *ngFor="let item of [].constructor(applicationsPage.totalPages);let i = index"
              [ngClass]="{'active' : applicationsPage.page == i}">
            <a (click)="handleChangePage(i)" class="page-link">{{i + 1}}</a>
          </li>
          <li [ngClass]="{'disabled' : applicationsPage.page == applicationsPage.totalPages - 1}" class="page-item"><a
            class="page-link" (click)="handleNextPage()">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div *ngIf="selectedApplications" class="mb-4 mt-3">
    <div class="card border-0 shadow">
      <div class="card-header border-bottom">
        <h2 class="fs-5 fw-bold mb-0">Selected talents</h2>
      </div>
      <div class="card-body py-0">
        <ul *ngIf="selectedApplications" class="list-group list-group-flush">
          <li *ngFor="let application of selectedApplications"
              class="list-group-item bg-transparent border-bottom py-3 px-0">
            <div class="d-flex justify-content-around">
              <div class="row align-items-center" style="width: 98%">
                <div class="col-auto"><a [routerLink]="'/talent/' + application.talent.id" class="avatar-md">
                  <img [src]="application.talent.image ? application.talent.image : 'assets/img/no-image.jpg'"
                       class="rounded" alt="Image placeholder"></a></div>
                <div class="col-auto px-0">
                  <h4 class="fs-6 text-dark mb-0"><a
                    [routerLink]="'/talent/' + application.talent.id">{{application.talent.firstName + ' ' + application.talent.lastName}}</a>
                  </h4><span class="small">
              {{application.talent.title}}
            </span>
                </div>
              </div>
              <div>
                <div (click)="handleOnChangeApprove(application)" *ngIf="job.status == 'IN_SELECTION'">
                  <a *ngIf="!application.approved"><i class="bi bi-check-circle text-success me-2 custom-icon"></i></a>
                  <a *ngIf="application.approved"><i class="bi bi-x-circle text-danger me-2 custom-icon"></i></a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
