<div class="modal fade show" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="h6 modal-title">Ask for a job interview</h6>
        <button (click)="handleCloseAskForJobInterview()" type="button" class="btn-close"></button>
      </div>
      <form *ngIf="interviewForm" [formGroup]="interviewForm" (ngSubmit)="handleAddJobInterview()">
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Message</label>
            <textarea formControlName="message" class="form-control" rows="4" placeholder="Message to send..."></textarea>
          </div>
          <div formArrayName="dates">
            <div *ngFor="let date of dates.controls; let i = index" class="mb-3">
              <label class="form-label">Date {{i+1}}</label>
              <input type="datetime-local" class="form-control" placeholder="Date" [formControlName]="i">
            </div>
          </div>
          <div *ngIf="dates.length < totalDates" class="d-flex justify-content-end">
            <a><i (click)="handleAddDateField()" class="bi bi-plus-circle custom-icon"></i></a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm">Close</button>
          <button type="submit" class="btn btn-primary btn-sm">Program</button>
        </div>
      </form>
    </div>
  </div>
</div>
