<div class="modal fade show" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="h6 modal-title">Update your infos</h6>
        <button (click)="handleCloseUpdateClientProfile()" type="button" class="btn-close"></button>
      </div>
      <form [formGroup]="clientForm" (ngSubmit)="handleUpdateProfile()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">First name</label>
              <input formControlName="firstName" type="text" class="form-control">
              <div *ngIf="errorSuccessState.errors?.has('firstName')"
                   class="text-danger mt-2 small">{{errorSuccessState.errors?.get('firstName')}}</div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Last name</label>
              <input formControlName="lastName" type="text" class="form-control">
              <div *ngIf="errorSuccessState.errors?.has('lastName')"
                   class="text-danger mt-2 small">{{errorSuccessState.errors?.get('lastName')}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Email</label>
              <input formControlName="email" type="email" class="form-control">
              <div *ngIf="errorSuccessState.errors?.has('email')"
                   class="text-danger mt-2 small">{{errorSuccessState.errors?.get('email')}}</div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Phone</label>
              <input formControlName="phone" type="text" class="form-control">
              <div *ngIf="errorSuccessState.errors?.has('phone')"
                   class="text-danger mt-2 small">{{errorSuccessState.errors?.get('phone')}}</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Sector</label>
            <input formControlName="sector" type="text" class="form-control">
            <div *ngIf="errorSuccessState.errors?.has('sector')"
                 class="text-danger mt-2 small">{{errorSuccessState.errors?.get('sector')}}</div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Country</label>
              <input formControlName="country" type="text" class="form-control">
              <div *ngIf="errorSuccessState.errors?.has('country')"
                   class="text-danger mt-2 small">{{errorSuccessState.errors?.get('country')}}</div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">City</label>
              <input formControlName="city" type="text" class="form-control">
              <div *ngIf="errorSuccessState.errors?.has('city')"
                   class="text-danger mt-2 small">{{errorSuccessState.errors?.get('city')}}</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea formControlName="shortDescription" class="form-control" rows="3"></textarea>
            <div *ngIf="errorSuccessState.errors?.has('shortDescription')"
                 class="text-danger mt-2 small">{{errorSuccessState.errors?.get('shortDescription')}}</div>
          </div>
          <div class="mb-3">
            <label class="form-label">Type</label>
            <select formControlName="type" class="form-select">
              <option value="PERSONNEL">Personnel</option>
              <option value="COMPANY">Company</option>
            </select>
            <div *ngIf="errorSuccessState.errors?.has('type')"
                 class="text-danger mt-2 small">{{errorSuccessState.errors?.get('type')}}</div>
          </div>
          <div class="row">
            <div *ngIf="clientForm.value.type == 'COMPANY'" class="col-md-6 mb-3">
              <label class="form-label">Company name</label>
              <input formControlName="companyName" type="text" class="form-control">
              <div *ngIf="errorSuccessState.errors?.has('companyName')"
                   class="text-danger mt-2 small">{{errorSuccessState.errors?.get('companyName')}}</div>
            </div>
            <div *ngIf="clientForm.value.type == 'COMPANY'" class="col-md-6 mb-3">
              <label class="form-label">Website</label>
              <input formControlName="website" type="text" class="form-control">
              <div *ngIf="errorSuccessState.errors?.has('website')"
                   class="text-danger mt-2 small">{{errorSuccessState.errors?.get('website')}}</div>
            </div>
          </div>
          <div *ngIf="clientForm.value.type == 'COMPANY'" class="mb-3">
            <label class="form-label">Company size</label>
            <select formControlName="size" class="form-select">
              <option value="">Select</option>
              <option value="1 - 50">1 - 50</option>
              <option value="51 - 100">51 - 100</option>
            </select>
            <div *ngIf="errorSuccessState.errors?.has('size')"
                 class="text-danger mt-2 small">{{errorSuccessState.errors?.get('size')}}</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm">Close</button>
          <button type="submit" class="btn btn-primary btn-sm">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

