<div *ngIf="client" class="row">
  <div class="col-12 col-xl-8">
    <div class="card card-body border-0 shadow mb-4">
      <h2 class="h5 mb-4">Profile informations</h2>
      <form [formGroup]="clientForm" (ngSubmit)="handleUpdateProfile()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">First name</label>
            <input formControlName="firstName" type="text" class="form-control">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Last name</label>
            <input formControlName="lastName" type="text" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Phone</label>
            <input formControlName="phone" type="text" class="form-control">
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Sector</label>
          <input formControlName="sector" type="text" class="form-control">
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Country</label>
            <input formControlName="country" type="text" class="form-control">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">City</label>
            <input formControlName="city" type="text" class="form-control">
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea formControlName="shortDescription" class="form-control" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">Type</label>
          <select formControlName="type" class="form-select">
            <option value="PERSONNEL">Personnel</option>
            <option value="COMPANY">Company</option>
          </select>
        </div>
        <div class="row">
          <div *ngIf="clientForm.value.type == 'COMPANY'" class="col-md-6 mb-3">
            <label class="form-label">Company name</label>
            <input formControlName="companyName" type="text" class="form-control">
          </div>
          <div *ngIf="clientForm.value.type == 'COMPANY'" class="col-md-6 mb-3">
            <label class="form-label">Website</label>
            <input formControlName="website" type="text" class="form-control">
          </div>
        </div>
        <div *ngIf="clientForm.value.type == 'COMPANY'" class="mb-3">
          <label class="form-label">Company size</label>
          <select formControlName="size" class="form-select">
            <option value="">Select</option>
            <option value="1 - 50">1 - 50</option>
            <option value="51 - 100">51 - 100</option>
          </select>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary btn-sm">Update</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12 col-xl-4">
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card shadow border-0 text-center p-0">
          <div class="profile-cover rounded-top">
            <img style="width: 100%; filter: blur(2px);" class="profile-cover rounded-top"
                 src="assets/img/profile-cover.jpg">
          </div>
          <div class="card-body pb-1"><img style="position: relative;width: 128px;height: 128px;"
                                           [src]="client.image ? client.image : 'assets/img/no-image.jpg'"
                                           class="avatar-xl rounded-circle mx-auto mt-n7 mb-2" alt="Neil Portrait">
            <h4 class="h4">{{client.firstName + ' ' + client.lastName}} <i class="bi bi-check-circle-fill custom-icon"
                                                                           [ngClass]="{'text-success' : client.status == 'VERIFIED', 'text-warning' : client.status == 'WAITING', 'text-gray' : client.status == 'NOT_VERIFIED'}"></i>
            </h4>
            <h5 class="fw-normal">{{client.sector}}</h5>
            <p class="text-gray mb-1">{{client.city}}, {{client.country}}</p>
          </div>
          <form [formGroup]="imageForm" (ngSubmit)="handleUpdateImage()">
            <div class="mb-3 p-1 d-flex justify-content-between"><input
              (change)="handleSelectImage($event)"
              class="form-control me-1" type="file" id="formFile">
              <button style="border: none;"><i class="bi bi-check-circle-fill custom-icon"></i></button>
            </div>
          </form>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <button *ngIf="client.status == 'NOT_VERIFIED'" (click)="handleAskForVerification()"
                  class="btn btn-secondary btn-sm">Demander verification
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
