<ng-toast></ng-toast>
<div *ngIf="authStateService.authState.isAuthenticated">
  <nav
    id="sidebarMenu"
    class="sidebar d-lg-block text-white collapse second-color"
    data-simplebar
  >
    <div class="sidebar-inner px-4 pt-3" style="padding-right: 0px !important;">
      <ul class="nav flex-column pt-3 pt-md-0">
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center no-hover"
          ><span class="sidebar-icon"
          ><img
            src="assets/img/logo.png"
            height="40"
            width="180"
            alt="Volt Logo"
          /> </span
          ><span class="mt-1 sidebar-text"></span></a
          >
        </li>
        <li class="nav-item"><a class="nav-link"><span class="sidebar-icon">
          <i class="bi bi-house-door-fill custom-side-icon me-1"></i>
        </span><span class="sidebar-text">Home</span></a></li>
        <li *ngIf="authStateService.hasAuthority('ADMIN')" class="nav-item"><span
          class="nav-link collapsed d-flex justify-content-between align-items-center"
          data-bs-toggle="collapse" data-bs-target="#submenu-app"><span><span class="sidebar-icon">
        <i class="bi bi-people-fill custom-side-icon me-1"></i>
        </span><span class="sidebar-text">Users</span> </span></span>
          <div class="multi-level collapse" role="list" id="submenu-app" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item"><a class="nav-link" routerLink="/admin/clients"><span
                class="sidebar-text-contracted">D</span> <span class="sidebar-text">Clients</span></a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/admin/talents"><span
                class="sidebar-text-contracted">B</span> <span class="sidebar-text">Talents</span></a></li>
            </ul>
          </div>
        </li>
        <li *ngIf="authStateService.hasAuthority('CLIENT') || authStateService.hasAuthority('TALENT')" class="nav-item">
          <a routerLink="/talents" class="nav-link">
            <span class="sidebar-icon">
              <i class="bi bi-people-fill custom-side-icon me-1"></i>
        </span>
            <span class="sidebar-text">Talents</span>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="authStateService.hasAuthority('ADMIN') ? '/admin/jobs' : '/jobs'" class="nav-link">
            <span class="sidebar-icon">
          <i class="bi bi-person-workspace custom-side-icon me-1"></i>
        </span>
            <span class="sidebar-text">Jobs</span>
          </a>
        </li>
        <li *ngIf="authStateService.hasAuthority('CLIENT')" class="nav-item">
          <a routerLink="/client/my-jobs" class="nav-link">
            <span class="sidebar-icon">
          <i class="bi bi-person-workspace custom-side-icon me-1"></i>
        </span>
            <span class="sidebar-text">My jobs</span>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="authStateService.hasAuthority('ADMIN') ? '/admin/meets' : '/meets'" class="nav-link">
            <span class="sidebar-icon">
          <i class="bi bi-person-workspace custom-side-icon me-1"></i>
        </span>
            <span class="sidebar-text">Meetings</span>
          </a>
        </li>
        <li class="nav-item">
          <a *ngIf="authStateService.hasAuthority('ADMIN')" routerLink="/admin/skills" class="nav-link">
            <span class="sidebar-icon">
          <i class="bi bi-bookmark-fill custom-side-icon me-1"></i>
        </span>
            <span class="sidebar-text">Skills</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <main class="content">
    <nav
      class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0"
    >
      <div class="container-fluid px-0">
        <div
          class="d-flex justify-content-between w-100"
          id="navbarSupportedContent"
        >
          <div class="d-flex align-items-center">
            <button
              class="sidebar-toggle me-3 btn btn-icon-only d-none d-lg-inline-block align-items-center justify-content-center"
            >
              <svg
                class="toggle-icon"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <ul class="navbar-nav align-items-center">
            <li class="nav-item dropdown">
              <a (click)="handleReadNotifications()"
                 class="nav-link text-dark notification-bell dropdown-toggle no-hover"
                 data-unread-notifications="true"
                 role="button"
                 data-bs-toggle="dropdown"
                 data-bs-display="static"
                 aria-expanded="false"
                 [ngClass]="{'unread' : notificationService.countUnseenNotifications() > 0}"
              >
                <svg
                  class="icon icon-sm text-gray-900"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
                  ></path>
                </svg
                >
              </a>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-center mt-2 py-0">
                <div class="list-group list-group-flush">
                  <a class="text-center text-primary fw-bold border-bottom border-light py-3">Notifications</a>
                  <a *ngFor="let notification of notificationService.notifications.slice(0,5)"
                     class="list-group-item list-group-item-action border-bottom"
                     [ngStyle]="{'background-color' : notification.clicked ? 'white' : '#ebebeb'}"
                     (click)="handleOnClickNotification(notification)">
                    <div class="row align-items-center">
                      <div class="col-auto"><img alt="Image placeholder"
                                                 [src]="(notification.sender && notification.sender.image) ? notification.sender.image : 'assets/img/no-image.jpg'"
                                                 class="avatar-md rounded"></div>
                      <div class="col ps-0 ms-2">
                        <div class="d-flex justify-content-between align-items-center">
                          <div>
                            <h4
                              class="h6 mb-0 text-small">{{notification.sender ? (notification.sender.firstName + " " + notification.sender.lastName) : "Admin"}}</h4>
                          </div>
                          <div class="text-end"><small
                            class="text-danger">{{notification.createdAt | date : 'short'}}</small></div>
                        </div>
                        <p class="font-small mt-1 mb-0" style="word-break: break-all;">{{notification.body}}
                        </p>
                      </div>
                    </div>
                  </a><a routerLink="/notifications" class="dropdown-item text-center fw-bold rounded-bottom py-3">
                  <svg
                    class="icon icon-xxs text-gray-400 me-1" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
                    <path fill-rule="evenodd"
                          d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                          clip-rule="evenodd"></path>
                  </svg>
                  View all</a></div>
              </div>
            </li>
            <li class="nav-item dropdown ms-lg-3">
              <a
                class="nav-link dropdown-toggle pt-1 px-0 no-hover"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <div class="media d-flex align-items-center">
                  <img
                    class="avatar rounded-circle"
                    alt="Image placeholder"
                    [src]="authStateService.authState.image ? authStateService.authState.image : 'assets/img/no-image.jpg'"
                  />
                  <div
                    class="media-body ms-2 text-dark align-items-center d-none d-lg-block"
                  >
                      <span class="mb-0 font-small fw-bold text-gray-900"
                      >{{authStateService.authState.lastName + ' ' + authStateService.authState.firstName}}</span
                      >
                  </div>
                </div>
              </a>
              <div
                class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-1"
              >
                <a class="dropdown-item d-flex align-items-center"
                   [routerLink]="authStateService.hasAuthority('TALENT') ? '/talent/my-profile' :  authStateService.hasAuthority('CLIENT') ? '/client/my-profile' : '/admin/m-profile' "
                >
                  <svg
                    class="dropdown-icon text-gray-400 me-2"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  Profile </a
                >
                <div role="separator" class="dropdown-divider my-1"></div>
                <a (click)="handleLogout()" class="dropdown-item d-flex align-items-center"
                >
                  <svg
                    class="dropdown-icon text-danger me-2"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                    ></path>
                  </svg>
                  Logout</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid py-4 px-0">
      <router-outlet></router-outlet>
    </div>
    <!-- <footer class="bg-white rounded shadow p-5 mb-4 mt-4">
       <div class="row">
         <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
           <p class="mb-0 text-center text-lg-start">
             © 2019-<span class="current-year"></span>
             <a
               class="text-primary fw-normal"
               href="https://themesberg.com/"
               target="_blank"
             >Themesberg</a
             >
           </p>
         </div>
         <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start">
           <ul
             class="list-inline list-group-flush list-group-borderless text-md-end mb-0"
           >
             <li class="list-inline-item px-0 px-sm-2">
               <a href="https://themesberg.com/about">About</a>
             </li>
             <li class="list-inline-item px-0 px-sm-2">
               <a href="https://themesberg.com/themes">Themes</a>
             </li>
             <li class="list-inline-item px-0 px-sm-2">
               <a href="https://themesberg.com/blog">Blog</a>
             </li>
             <li class="list-inline-item px-0 px-sm-2">
               <a href="https://themesberg.com/contact">Contact</a>
             </li>
           </ul>
         </div>
       </div>
     </footer>-->
  </main>
  <div *ngIf="changeStyle" class="modal-backdrop fade show"></div>
</div>
<div *ngIf="!authStateService.authState.isAuthenticated">
  <router-outlet></router-outlet>
</div>

