<div class="card card-body border-0 shadow mb-4 mb-xl-0 mt-2">
  <div class="d-flex justify-content-between">
    <h2 class="h5 mb-4">Languages</h2>
    <a (click)="handleOpenAddLanguage()" class="custom-icon"><i class="bi bi-plus-circle"></i></a>
  </div>
  <ul class="list-group list-group-flush">
    <app-language *ngFor="let language of languages" [language]="language"></app-language>
  </ul>
  <app-add-language *ngIf="openAddLanguage"></app-add-language>
  <app-edit-language *ngIf="openEditLanguage" [language]="selectedLanguage"></app-edit-language>
</div>
