<li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
  <div>
    <h3 class="h6 mb-1">{{education.level}} - {{education.domain}}</h3>
    <p class="small pe-4">{{education.university}}, {{education.city}}</p>
    <p class="small pe-4">{{education.monthOfStart}} {{education.yearOfStart}} à {{education.monthOfEnd}} {{education.yearOfEnd}}</p>
  </div>
  <div class="d-flex justify-content-between">
    <a class="me-2"><i (click)="handleOpenEditEducation(education)" class="bi bi-pencil-fill"></i></a>
    <a><i (click)="handleDeleteEducation(education.id)" class="bi bi-trash-fill"></i></a>
  </div>
</li>
