<div class="modal fade show" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="h6 modal-title">Program a client meet for a talent</h6>
        <button (click)="handleCloseProgramClientMeet()" type="button" class="btn-close"></button>
      </div>
      <form [formGroup]="clientMeetForm" (ngSubmit)="handleProgramClientMeet()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Title</label>
              <input formControlName="title" type="text" class="form-control" placeholder="Title">
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Date</label>
              <input formControlName="date" type="datetime-local" class="form-control" placeholder="Date">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Meet type</label>
              <input formControlName="meetType" type="text" class="form-control" placeholder="Meet type" readonly>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Contact type</label>
              <input formControlName="contactType" type="text" class="form-control" placeholder="Meet type" readonly>
            </div>
          </div>
          <div *ngIf="clientMeetForm.value.contactType == 'VIDEO_CALL'" class="mb-3">
            <label class="form-label">Meet link</label>
            <input formControlName="resource" type="url" class="form-control" placeholder="Meet link">
          </div>
          <div class="mb-3">
            <label class="form-label">Talent message</label>
            <textarea formControlName="firstBody" class="form-control" placeholder="Message" rows="14"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Client message</label>
            <textarea formControlName="secondBody" class="form-control" placeholder="Message" rows="14"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm">Close</button>
          <button type="submit" class="btn btn-primary btn-sm">Program</button>
        </div>
      </form>
    </div>
  </div>
</div>

