<div *ngIf="talent" class="row">
  <div class="col-12 col-xl-8">
    <div class="card card-body border-0 shadow mb-4">
      <div class="d-flex justify-content-between">
        <h2 class="h5 mb-4">Profile informations</h2>
        <a (click)="handleOpenUpdateTalentProfile()" class="custom-icon align-self-start"><i class="bi bi-pencil-fill custom-icon-sm"></i></a>
      </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">First name</label>
            <input [value]="talent.firstName" type="text" class="form-control" readonly>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Last name</label>
            <input [value]="talent.lastName" type="text" class="form-control" readonly>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Email</label>
            <input [value]="talent.email" type="email" class="form-control" readonly>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Phone</label>
            <input [value]="talent.phone" type="text" class="form-control" readonly>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input [value]="talent.title" type="text" class="form-control" readonly>
        </div>
        <div class="mb-3">
          <label class="form-label">Summary</label>
          <textarea [value]="talent.summary" class="form-control" rows="3" readonly></textarea>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Birth date</label>
            <input [value]="talent.dateOfBirth" type="date" class="form-control" readonly>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">City</label>
            <input [value]="talent.city" type="text" class="form-control" readonly>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Address</label>
          <textarea [value]="talent.address" class="form-control" rows="2" readonly></textarea>
        </div>
    </div>

    <app-experiences [experiences]="talent.experiences"></app-experiences>

    <app-educations [educations]="talent.educations"></app-educations>

    <app-projects [projects]="talent.projects"></app-projects>


  </div>
  <div class="col-12 col-xl-4">
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card shadow border-0 text-center p-0">
          <div class="profile-cover rounded-top">
            <img style="width: 100%; filter: blur(2px);" class="profile-cover rounded-top"
                 src="assets/img/profile-cover.jpg">
          </div>
          <div class="card-body pb-1"><img style="position: relative;"
                                           [src]="talent.image ? talent.image : 'assets/img/no-image.jpg'"
                                           class="avatar-xl rounded-circle mx-auto mt-n7 mb-2" alt="Neil Portrait">
            <h4 class="h4">{{talent.firstName + ' ' + talent.lastName}},
              <span style="font-size: 18px;" [ngClass]="{'text-success' : talent.available, 'text-danger' : !talent.available}">{{talent.available ? 'available ' : 'anavailable '}}</span>
              <i class="bi bi-check-circle-fill custom-icon"
                 [ngClass]="{'text-success' : talent.status == 'VERIFIED', 'text-warning' : talent.status == 'WAITING', 'text-gray' : talent.status == 'NOT_VERIFIED'}"></i>
            </h4>
            <h5 class="fw-normal">{{talent.title}}</h5>
            <p class="text-gray mb-1">{{talent.city}}, MAROC</p>
          </div>
          <form [formGroup]="imageForm" (ngSubmit)="handleUpdateImage()">
            <div class="mb-3 p-1 d-flex justify-content-between"><input
              (change)="handleSelectImage($event)"
              class="form-control me-1" type="file" id="formFile">
              <button class="no-border"><i class="bi bi-check-circle-fill custom-icon"></i></button>
            </div>
          </form>
        </div>
        <div class="d-flex flex-column align-items-center mt-3 mb-3">
          <div>
            <circle-progress
              [percent]="profileCompletion"
              [radius]="60"
              [space]="-10"
              [animation]="true"
              [outerStrokeLinecap]="'round'"
              [outerStrokeGradient]="true"
              [outerStrokeWidth]="10"
              [outerStrokeColor]="'000000FF'"
              [outerStrokeGradientStopColor]="'#ff0000'"
              [innerStrokeColor]="'#e7e8ea'"
              [innerStrokeWidth]="10"
              [title]="profileCompletion.toString() + '%'"
              [titleFontSize]="'23'"
              [showSubtitle]="false"
              [animateTitle]="true"
              [animationDuration]="1000"
              [showUnits]="false"
              [showBackground]="true"
              [clockwise]="true"
              [startFromZero]="true"
              [lazy]="false"
            ></circle-progress>
            <p class="text-center">Profile completion</p>
          </div>
          <button *ngIf="talent.status == 'NOT_VERIFIED' && (profileCompletion == 100)" (click)="handleAskForVerification()"
                  class="btn btn-secondary btn-sm">Ask for verification
          </button>
        </div>

        <app-languages [languages]="talent.languages"></app-languages>
        <app-certifications [certifications]="talent.certifications"></app-certifications>
        <app-skills [skills]="talent.skills"></app-skills>
      </div>
    </div>
  </div>
</div>

<app-update-talent-infos *ngIf="openUpdateInfos" [talent]="talent"></app-update-talent-infos>
