<div class="card card-body border-0 shadow mb-4 mb-xl-0 mt-3">
  <div class="d-flex justify-content-between">
    <h2 class="h5 mb-4">Skills</h2>
    <a class="custom-icon" (click)="handleOpenEditSkills();"><i class="bi bi-pencil-fill custom-icon-sm"></i></a>
  </div>
  <ul class="list-group list-group-flush" style="margin-top: -15px;">
      <li *ngFor="let skill of skills" class="list-group-item">{{skill}}</li>
  </ul>
</div>

<app-edit-skills *ngIf="openEditSkills" [skills]="skills"></app-edit-skills>

