<div class="d-flex flex-wrap mt-3">
  <div class="card me-1 dashboard-card" style="width: 24%; background-color: #000000;color: white">
    <div class="card-body">
      <div class="d-flex justify-content-around">
        <div class="d-flex flex-column align-items-center">
          <h1 class="text-white align-self-start">{{statistic.totalTalents}}</h1>
          <h5 class="text-white">Total talents</h5>
        </div>
        <div>
          <i style="font-size: 60px;" class="bi bi-people"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="card me-1 dashboard-card" style="width: 24%; background-color: #ff0000;color: white">
    <div class="card-body">
      <div class="d-flex justify-content-around">
        <div class="d-flex flex-column align-items-center">
          <h1 class="text-white align-self-start">{{statistic.totalEnabledTalents}}</h1>
          <h5 class="text-white">Enabled talents</h5>
        </div>
        <div>
          <i style="font-size: 60px;" class="bi bi-people"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="card me-1 dashboard-card" style="width: 24%; background-color: #000000;color: white">
    <div class="card-body">
      <div class="d-flex justify-content-around">
        <div class="d-flex flex-column align-items-center">
          <h1 class="text-white align-self-start">{{statistic.totalClients}}</h1>
          <h5 class="text-white">Total clients</h5>
        </div>
        <div>
          <i style="font-size: 60px;" class="bi bi-people"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="card me-1 dashboard-card" style="width: 24%; background-color: #ff0000;color: white">
    <div class="card-body">
      <div class="d-flex justify-content-around">
        <div class="d-flex flex-column align-items-center">
          <h1 class="text-white align-self-start">{{statistic.totalEnabledClients}}</h1>
          <h5 class="text-white">Enabled clients</h5>
        </div>
        <div>
          <i style="font-size: 60px;" class="bi bi-people"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="card me-1 mt-2 dashboard-card" style="width: 24%; background-color: #ff0000;color: white">
    <div class="card-body">
      <div class="d-flex justify-content-around">
        <div class="d-flex flex-column align-items-center">
          <h1 class="text-white align-self-start">{{statistic.totalJobs}}</h1>
          <h5 class="text-white">Total jobs</h5>
        </div>
        <div>
          <i style="font-size: 60px;" class="bi bi-person-workspace "></i>
        </div>
      </div>
    </div>
  </div>

  <div class="card me-1 mt-2 dashboard-card" style="width: 24%; background-color: #000000;color: white">
    <div class="card-body">
      <div class="d-flex justify-content-around">
        <div class="d-flex flex-column align-items-center">
          <h1 class="text-white align-self-start">{{statistic.totalSelections}}</h1>
          <h5 class="text-white">Total selections</h5>
        </div>
        <div>
          <i style="font-size: 60px;" class="bi bi-person-workspace "></i>
        </div>
      </div>
    </div>
  </div>

</div>
